* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6; /* Set backgound colour*/
}

/* Set font style and colour for header, backgroundcolour and padding*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block; /* details for text diplay and font size in a header*/
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6; /* Changes colour of three letters in a word in a header*/
}

/* Set font, display, padding and margin style for navigation tabs*/
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Removes default list style*/
header nav ul {
    list-style-type: none;
}

/* Set margins and navigation tabs horizontaly*/
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;         /* Set links colour*/
    text-decoration: none;
}

p {
    font-size: 16px;            /* Set paragraphs font size */
}

figure img {                    /* Set main image properties*/
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

#main-content {                 /* Set main sections width, display and margins*/
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.content {                      /* Set background and font properties in 3 paragraphs under main-content*/
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.content img {                  /* Set main-content images height*/
    max-height: 200px;
}

.content h2 {                   /* Set font size and margin for every header in a paragrath under #main-content*/
    margin-bottom: 20px;
    font-size: 36px;
}

.float-left {                   /* Set display and margin properties for images #search-engine-optimazation and #social-media-marketing*/
    float: left;
    margin-right: 25px;
}

.float-right {                  /* Set display and margin properties for image #online-reputation-management*/
    float: right;
    margin-left: 25px;
}

#benefit {                      /* Set aside content properties*/
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefits {                    /* Set margin and font colour for paragraphs under #benefit */
    margin-bottom: 32px;
    color: #ffffff;
}


.benefits h3 {                  /* Set margin and text align for headers in #benefit*/
    margin-bottom: 10px;
    text-align: center;
}

.benefits img {                 /* Set display, width and margin for images in #benefit*/
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

footer {                        /* Set properties for footer*/
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h4 {                     /* Set font size for header in footer*/
    font-size: 20px;
}
